<div class="d-flex flex-column gap-3" aria-busy="true">
  <div class="sk-card" *ngFor="let i of [1, 2, 3, 4]">
    <div class="sk-body">
      <div class="sk-col-left">
        <div class="sk-block sk-icon"></div>
        <div class="sk-block sk-text sk-text--sm mt-2"></div>
      </div>
      <div class="sk-col-route">
        <div class="sk-route-row">
          <div class="sk-block sk-time"></div>
          <div class="sk-block sk-line"></div>
          <div class="sk-block sk-time"></div>
        </div>
        <div class="sk-block sk-text sk-text--center mt-2"></div>
      </div>
      <div class="sk-col-price">
        <div class="sk-block sk-price"></div>
        <div class="sk-block sk-text sk-text--sm mt-1"></div>
        <div class="sk-block sk-btn mt-2"></div>
      </div>
    </div>
  </div>
</div>
